*{
	background-color:#000;
	margin:0;
	padding:0;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background: #000;
	color: #999;
	font-size: 62.5%;
}

/* Type */	

h1 {
	color:#3F0;
	font-size:3.2em;
	font-weight: 300;
	font-stretch: ultra-condensed;
	margin: 10px auto;
}

a {
	color: #fff;
	font-size:1.4em;
	text-decoration: none;
	font-stretch: normal;
}

p {
	font-size: 1.8em;
	line-height: 24px;
}

label, input {
	display: block;
}

label{
	font-stretch: ultra-condensed;
	color:#999;
	padding-bottom: 5px;
	font-size: 1.4em;
}

select, option{
	background:#fff;
}

input[type=button], button, input[type=text], select{
	width:300px;
}

textarea{ width:290px;}

input[type=button], button{
	padding: 5px;
}

input[type=text], select, textarea{
	background:#fff;
    background-image: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    color-stop(0.14, rgb(222,222,222)),
		    color-stop(0.48, rgb(235,235,235)),
		    color-stop(1, rgb(255,255,255))
	);
	color:#000;
	margin:0 auto;
	padding: 5px;
	font-size:1.2em;
}

textarea{
	min-height:62px;
}

select{
	height:30px;
}

/* Content */
.wrapper {
	margin: 0 auto;
	width: 690px;
}

/* Containers */

.container-left{
	width:50%;
	float:left;
}

.container-right{
	float:left;
	width:50%;
}

.container-right p{
	text-align:justify;
	margin-bottom:20px;
}

.container-form-element {
	margin: 20px 0;
}

.container-form-element:first-child {
	margin: 0 0 20px 0;
}


/* Utility classes */

.counter-hide{
	display: block;
}


.hide{
	display: none;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}

.ganja{
	color:#3F0;
	font-weight: 300;
	font-stretch: ultra-condensed;
}

.rad-button:active, .rad-button:hover, .rad-button:focus {
    background-image: none;
}

.mobile-rule, .mobile-anchor{display:none;}

.rad-button{
    -webkit-border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.02, rgb(244,247,247)),
    	color-stop(0.45, rgb(199,199,199)),
    	color-stop(0.85, rgb(143,140,143)),
    	color-stop(0.0, rgb(82,80,82))
	);
    border: 1px solid #ddd;
    color: #000;
    display: block;
	font-stretch: ultra-condensed;
    font-size: 1.4em;
    font-weight: 300;
    height:36px;	
    padding: 5px 15px 6px;
    text-shadow: 0 -1px 0 #ddd;
    text-align: center;
}


#about{
	display:block;
	padding-top: 17px;
}


/* Nexus One Landscape */
@media all and (max-width: 533px){
	.wrapper {
		padding: 0% 3%;
		width:94%;
	}

	.mobile-anchor{
		display:inline-block;
		padding-top:20px;
		width:10%;
	}

	h1 {
		margin: 0 0 10px;
		display:inline-block;
		float:left;
		width:84%;
	}
	
	.counter-hide{
		display: none;
	}
	

	.mobile-left{
		float:left;
	}

	.mobile-right{
		float:right;
	}


	input[type=button], button{
		margin:0;
		padding:0;
		width:93%;
	}

	input[type=text], select, textarea{
		background-color: #ddd;
		color:#000;
		margin:0;
		padding: 5px;
		width:97%;
		-webkit-border-radius: 4px;
		font-size:1.2em;
	}

	textarea{
		width:94%;
		min-height:36px;
	}

	.mobile-shrink{
		margin-top:0;
		width:48%;
	}
	
	
	.container-left{
		width:100%;
	}

	.container-right{
		width:100%;
	}
	
	#about{display:none;}
	
	
}



/* Nexus One Portrait */
@media all and (max-width: 320px){
	.wrapper {
		padding: 2% 1%;
		width:98%;
	}

	.mobile-anchor{
		display:inline-block;
		padding-top:20px;
		width:10%;
	}

	h1 {
		margin: 0 0 10px;
		display:inline-block;
		float:left;
		width:84%;
	}

	.counter-hide{
		display: none;
	}


	.mobile-left{
		float:left;
	}

	.mobile-right{
		float:right;
	}

	input[type=button], button{
		margin:0;
		padding: 5px;
		width:100%;
	}

	input[type=text], select, textarea{
		background-color: #ddd;
		color:#000;
		margin:0;
		padding: 5px;
		width:100%;
		-webkit-border-radius: 4px;
		font-size:1.6em;
	}

	textarea{
		min-height:66px;
		width:96%;
	}

	.mobile-shrink{
		margin-top:0;
		width:48%;
	}
	
	.container-left{
		width:100%;
	}

	.container-right{
		margin-top:10px;
		width:100%;
	}
	
	#about{display:none;}
	

}

