*{
	background-color:#000;
	margin:0;
	padding:0;
}

body {
	background: #000;
	color: #999;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 72.5%;
}

/* Type */	

h1 {
	color:#3F0;
	font-size:3.2em;
	font-weight: 300;
	font-stretch: ultra-condensed;
	margin: 10px auto;
}

a {
	color: #ff0;
	text-decoration: none;
}

p {
	font-size: 1.8em;
}

label, input {
	display: block;
}

label{
	font-stretch: ultra-condensed;
	color:#999;
	padding-bottom: 5px;
	font-size: 1.4em;
}

input[type=button], button, input[type=text], select{
	width:300px;
}

textarea{ width:290px;}

input[type=button], button{
	padding: 5px;
}

input[type=text], select, textarea{
    background-image: -webkit-gradient(
		    linear,
		    left bottom,
		    left top,
		    color-stop(0.14, rgb(222,222,222)),
		    color-stop(0.48, rgb(235,235,235)),
		    color-stop(1, rgb(255,255,255))
	);
	color:#000;
	margin:0 auto;
	padding: 5px;
	-webkit-border-radius: 4px;
	font-size:1.2em;
}

textarea{
	min-height:62px;
}

select{
	height:30px;
}

/* Content */
.wrapper {
	margin: 0 auto;
	width: 960px;
}

/* Containers */

.container-form-element {
	margin: 20px 0;
}

.container-form-element:first-child {
	margin: 0 0 20px 0;
}

.hide{
	display: none;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}

.rad-button:active, .rad-button:hover, .rad-button:focus {
    background-image: none;
}

.rad-button{
    -webkit-border-radius: 4px;
    background-color: #fff;
    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.02, rgb(244,247,247)),
    	color-stop(0.45, rgb(199,199,199)),
    	color-stop(0.85, rgb(143,140,143)),
    	color-stop(0.0, rgb(82,80,82))
	);
    border: 1px solid #ddd;
    color: #000;
    display: block;
	font-stretch: ultra-condensed;
    font-size: 1.5em;
    font-weight: 300;
    height:30px;	
    padding: 5px 10px 6px;
    text-shadow: 0 -1px 0 #ddd;
    text-align: center;
}

/* Nexus One Landscape */
@media all and (max-width: 533px){
	.wrapper {
		padding: 2% 1%;
		width:98%;
	}

	.mobile-left{
		float:left;
	}

	.mobile-right{
		float:right;
	}

	h1 {
		margin: 0;
	}

	input[type=button], button{
		margin:0;
		padding: 5px;
		width:90%;
	}

	input[type=text], select, textarea{
		background-color: #ddd;
		color:#000;
		margin:0;
		padding: 5px;
		width:91%;
		-webkit-border-radius: 4px;
		font-size:1.2em;
	}

	textarea{
		width:90%;
		min-height:36px;
	}

	.mobile-shrink{
		width:48%;
	}
	
}

/* delete me */


	

/* Nexus One Portrait */
@media all and (max-width: 320px){
	.wrapper {
		padding: 2% 1%;
		width:98%;
	}

	.mobile-left{
		float:left;
	}

	.mobile-right{
		float:right;
	}

	h1 {
		margin: 0;
	}

	input[type=button], button{
		margin:0;
		padding: 5px;
		width:100%;
	}

	input[type=text], select, textarea{
		background-color: #ddd;
		color:#000;
		margin:0;
		padding: 5px;
		width:100%;
		-webkit-border-radius: 4px;
		font-size:1.2em;
	}

	textarea{
		min-height:36px;
		width:96%;
	}

	.mobile-shrink{
		width:48%;
	}


}

